body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Home_css______________________*/
.title {
}

.about {
    text-indent: 20px;
    text-align: justify;
}

    .about img {
    }

.contact {
}

article .history {
}

    article .history img {
        width: 223px;
        height: 346px;
        text-indent: 20px;
        border: 1px solid #333;
        padding: 5px;
        background-color: #EEEEEE;
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    article .history p {
        text-indent: 20px;
        text-align: justify;
    }

.charity {
}

    .charity .header-up {
        font-weight: bold;
    }

    .charity .header-down {
        text-align: center;
        font-style: italic;
    }

    .charity .indent {
        text-indent: 25px;
    }

    .charity .paragraph {
        color: #000;
        font-weight: bold;
    }
/*____________________________End_Home*/

/*Account____________________________*/
.text-error {
}


/*Slider_______________________________*/
/*#slideshow {
    position: relative;
    height: 300px;
}

    #slideshow DIV {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        -ms-opacity: 0.0;
        opacity: 0.0;
        height: 300px;
        background-color: #FFF;
    }

        #slideshow DIV.active {
            z-index: 10;
            opacity: 1.0;
        }

        #slideshow DIV.last-active {
            z-index: 9;
        }

        #slideshow DIV IMG {
            height: 250px;
            display: block;
            border: 0;
            margin-bottom: 10px;
        }*/
/*____________________________________________________End_slider*/

/*Bookblock______________________________________________________*/
@font-face {
    font-family: 'arrows';
    src: url('~/fonts/arrows/arrows.eot');
    src: url('~/fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'), url('~/fonts/arrows/arrows.woff') format('woff'), url('~/fonts/arrows/arrows.ttf') format('truetype'), url('~/fonts/arrows/arrows.svg#arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bb-custom-wrapper {
    width: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

    .bb-custom-wrapper .bb-bookblock {
        -webkit-box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
        -ms-box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
        box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
    }

    .bb-custom-wrapper h3 {
        font-size: 1.4em;
        font-weight: 300;
        margin: 0.4em 0 1em;
    }

    .bb-custom-wrapper nav {
        width: 100%;
        height: 30px;
        margin: 1em auto 0;
        position: relative;
        z-index: 0;
        text-align: center;
    }

        .bb-custom-wrapper nav a {
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            -ms-border-radius: 2px;
            border-radius: 2px;
            background: #72b890;
            color: #fff;
            font-size: 0;
            margin: 2px;
        }

            .bb-custom-wrapper nav a:hover {
                opacity: 0.6;
            }

.bb-custom-icon:before {
    font-family: 'arrows';
    -webkit-speak: none;
    -moz-speak: none;
    -ms-speak: none;
    -o-speak: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    line-height: 30px;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
    content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
    content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
    height: auto;
}

.no-js .bb-custom-content {
    height: 470px;
}
/*_______________________________________BoockBlock*/

 