<div style="">
    <img src="~/Content/Images/Panorama/ZAL1.jpg" class="advancedpanorama" width="2448" height="450"  style="margin: 0 auto" usemap="testmap" alt="" />
    <map id="testmap" name="testmap">
        <area shape="rect" coords=" 1313,12,1500,255" href="~/Content/Images/Panorama/zal1_kart2.jpg" alt="Стельмах М. П." class="thickbox" />
        <area shape="rect" coords="2380,44,2450,190" href="~/Content/Images/Panorama/zal1_kart1.jpg" alt="Шевченко Т. Г." class="thickbox" />
        <area shape="rect" coords="2020,176,2170,351" href="@Url.Action("Panorama2")" alt="Інша панорама" />
    </map>
</div>