@{
    ViewBag.Title = "Відеогалерея";
    ViewBag.Message = "ЛІТЕРАТУРНО-МЕМОРІАЛЬНИЙ МУЗЕЙ М. П. СТЕЛЬМАХА";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Message.</h1>
    <h2>@ViewBag.Title.</h2>
</hgroup>

<br />
<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/jbDLDCkRnYk" frameborder="0"></iframe>
<a class="fancybox" data-fancybox-type="iframe" data-fancybox-group="group1" title="the video" href="http://www.youtube.com/embed/jbDLDCkRnYk">Some video</a>