@{
    ViewBag.Title = "Про нас";
    ViewBag.Message = "ЛІТЕРАТУРНО-МЕМОРІАЛЬНИЙ МУЗЕЙ М. П. СТЕЛЬМАХА";
}

<hgroup class="title">
    <h1>@ViewBag.Message.</h1>
    <h2>@ViewBag.Title.</h2>
</hgroup>

<article class="about">
    <p>
        Музей відкрито 24 травня 1989 р. на батьківщині відомого українського письменника Михайла Панасовича Стельмаха (1912-1983) в спеціально побудованому приміщенні.
    </p>
    <p>
        До квітня 1991 р. музей діяв на громадських засадах, а згодом - як відділ Вінницького обласного краєзнавчого музею. З 1992 р. він стає самостійним державним музеєм.
    </p>
    <p>
        Фонди музею нараховують близько 700 предметів. Щороку музей відвідує понад 1 500 осіб.
    </p>
    <p>Оскільки ініціатором створення музею виступило обласне товариство книголюбів, було запропоновано, а згодом і втілено в життя ідею культурного комплексу – музею-бібліотеки. На першому поверсі розташовано сільську бібліотеку та читальний зал. Другий поверх займають шість експозиційних залів музею та меморіальний робочий кабінет М. Стельмаха з ірпінської дачі.</p>

    <p>
        У колекції є особисті речі письменника, документи, фотографії, кіно- та відеоматеріали, сувеніри, речі хатнього вжитку родини Стельмахів, меблі та книги з особистої бібліотеки Стельмаха, різноманітні видання його творів.
        Щороку у травні проводиться літературно-мистецьке свято до дня народження письменника, а також дні пам’яті Михайла і Ярослава Стельмахів. Серед учнів Літинського району проводиться конкурс на краще виконання дитячих творів письменника, кращих малюнків, присвячених його творчості. Вже традиційними стали зустрічі з рідними та друзями письменника.
    </p>
    <p>Відвідувачі можуть побувати на території меморіальної садиби письменника (загальною площею 0,5 га), де знаходиться батьківська хата Стельмахів, дерев’яна клуня, сад та город.</p>
    <img src="~/Content/Images/Main-content/museum.jpg" />

</article>