@model dynamic
@{
    ViewBag.Title = "Благодійна акція";
    ViewBag.Message = "ЛІТЕРАТУРНО-МЕМОРІАЛЬНИЙ МУЗЕЙ М. П. СТЕЛЬМАХА";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Message.</h1>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="charity">
    <article>
        <p class="header-up">
            Памятаймо!
            Цінуймо!
            Бережімо!
        </p>
        @*<div style="float: left;">
                <img src="img/fond/1011.JPG" onmouseover="this.src='img/fond/101.jpg'" onclick="this.src='img/fond/1011.JPG'" alt="Меморіальна садиба" />
                <img src="img/fond/1021.JPG" onmouseover="this.src='img/fond/102.jpg'" onclick="this.src='img/fond/1021.JPG'" alt="Меморіальна садиба" />
                <img src="img/fond/1031.JPG" onmouseover="this.src='img/fond/103.jpg'" onclick="this.src='img/fond/1031.JPG'" alt="Меморіальна садиба" />
                <img src="img/fond/1041.JPG" onmouseover="this.src='img/fond/104.jpg'" onclick="this.src='img/fond/1041.JPG'" alt="Меморіальна садиба" />
                <img src="img/fond/1051.jpg" onmouseover="this.src='img/fond/105.jpg'" onclick="this.src='img/fond/1051.JPG'" alt="Меморіальна садиба" />
            </div>*@
        <!-- <img src="img/fond/1051.jpg"   onmouseover="this.src='img/fond/105.jpg'" onmouseout="this.src='img/fond/1051.JPG'"  alt="Меморіальна садиба"/> -->
        <br style='clear:both' />
        <p class="header-down">
            <marquee behavior="alternate">Дорогі земляки-українці! </marquee>
        </p>
        <p class="indent">
            Ще з давніх-давен заповідали нам наші пращури: «Пам’ятаймо тую славу…» А слава та, як зорі на небі: не лічені й не пізнані, а коли за хмарами – то й не видно… А очі не бачать – серце не плаче… Так і у нас тепер! Густі, чорні хмари клубочаться на нашому чистому небосхилі пам’яті народної. Багато славних імен щодень,щорік припадають пилом забуття, ще більше духовних скарбів руйнуються, знищуються, викрадаються…
            У травні 2012 року виповнюється 100-річний ювілей видатного українського письменника Михайла Стельмаха. На його батьківщині, на Вінниччині, в с. Дяківцях, є Літературно-меморіальний музей Михайла Панасовича Стельмаха та меморіальна садиба письменника. З кожним роком руйнується батьківська хата і вростає в землю, розсипається столітня клуня, так щедро описані в повістях «Гуси-лебеді летять» та «Щедрий вечір». Немає коштів на їх реставрацію та відновлення, не кажучи вже про створення нової експозиції, придбання, поповнення музейної колекції…
            Тож звертаємось до всіх патріотів Вінниччини й усієї України: Не будьте байдужі! Долучайтеся до благодійної акції по збереженню меморіальної садиби! У ювілейний рік великого письменника зробимо подарунок собі й нашим нащадкам – відновимо й збережемо меморіальну садибу! Нехай музей Стельмаха стане достойною світлицею його пам’яті, а ми усі – вдячними нащадками.
        </p>
        <p class="paragraph">
            Благодійний рахунок: р/р 35426034001661;
            МФО 802015;
            ідентифікаційний №  0226725;
        </p>
        <p class="paragraph">
            Контактний телефон: 0985075867
        </p>
        <p class="paragraph">
            Адреса: Літературно-меморіальний музей М. П. Стельмаха
            с. Дяківці Літинського району Вінницької області
        </p>
        <p class="paragraph">
            Директор музею: Голованюк Оксана Володимирівна
        </p>
    </article>
</div>