@{
    ViewBag.Title = "Контакти";
    ViewBag.Message = "ЛІТЕРАТУРНО-МЕМОРІАЛЬНИЙ МУЗЕЙ М. П. СТЕЛЬМАХА";
}

<hgroup class="title">
    <h1>@ViewBag.Message.</h1>
    <h2>@ViewBag.Title.</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Адреса:</h3>
    </header>
    <p>
        <span>
            22341<br />
            Вінницька обл.<br />
            Літинський р-н.<br />
            с. Дяківці
        </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Директор:</h3>
    </header>
    <p>
        Голованюк Оксана Володимирівна
    </p>
</section>
<section class="contact">
    <header>
        <h3>Мобільний тел.:</h3>
    </header>
    <p>
        +380985075867
    </p>
</section>
<section class="contact">
    <header>
        <h3>Як дістатись:</h3>
    </header>
    <p style="text-indent: 20px;text-align: justify;">
        Якщо Ви подорожуєте без автомобіля,то можете скористатись рейсовим автобусом або маршрутним таксі з м. Вінниці або м. Хмельницького.
        <br /> Музей знаходиться поряд з магістральною автотрасою Стрий – Тернопіль – Кіровоград – Знам'янка, в центрі села Дяківець.
        <br />Село Дяківці - на відстані 50 км. від м. Вінниці та 75 км. від м. Хмельницького, будь-який транспорт проїджає через наш населений пункт.
        <br />Музей також знаходиться на відстані 24 км. від міста Хмільника, що є відомим курортом. В цьому випадку слід вирушати в напрямку до м. Хмельницького.
    </p>
</section>
<section class="contact">
    <header>
        <h3>Де посилитись:</h3>
    </header>
    <p style="text-indent: 20px;">
        Кафе-мотель “ТРАНЗИТ”. Який працює цілодобово.
        <img src="~/Content/Images/Main-content/tranzit.jpg" />
    </p>
</section>
