@model dynamic

@{
    ViewBag.Title = "Історія музею";
    ViewBag.Message = "ЛІТЕРАТУРНО-МЕМОРІАЛЬНИЙ МУЗЕЙ М. П. СТЕЛЬМАХА";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Message.</h1>
    <h2>@ViewBag.Title.</h2>
</hgroup>


<article>
    <div class="history">
        <br style='clear:both' />
        <a href="#" target="_blank"><img src="~/Content/Images/Main-content/stelmah.jpg" alt="Стельмах М.П."></a>
        <p>Розпочався життєвий шлях Михайла Стельмаха із старовинного села Дяковець, що на Поділлі. Саме цей куточок мальовничої Літинщини назавжди лишався у серці письменника, до нього тягнувся душею та думами, натхненно оспівував у своїх книгах.</p>
        <p>Ще й сьогодні на його батьківщині зберігся острівець Стельмахового світу, колиска його дитинства і юності – батьківська хата і садиба родини Стельмахів.</p>
        <p>На батьківщині Стельмаха, в селі Дяківцях, у 1989 році було відкрито Літературно-меморіальний музей Михайла Панасовича Стельмаха, що став окрасою не лише села, а й «перлиною» Поділля. Розкішна двоповерхова споруда, - Стельмахова світлиця, як її ще називають подоляни, - є своєрідним літературним комплексом, що об’єднує бібліотеку і, власне, музей письменника. Експозиція складається з шести залів та меморіального робочого кабінету митця. Численні експонати, книги, фотографії, документи, речі декоративно-ужиткового та образотворчого мистецтва, становлять цілісну картину життєвого та творчого шляху Михайла Стельмаха. Яскравими штрихами змальовано найбільш важливі моменти біографії письменника, відтворено його епоху та духовний світ. Окрасою музею є особисті речі Михайла Панасовича, рукописи, меблі, що наповнювали інтер’єр його помешкання. Незабутнє враження залишається і від аудіо записів голосу письменника, що так доречно використовується під час екскурсій.</p>
        <p>Органічним продовженням музейної експозиції є відвідування меморіальної садиби Стельмахів. Тут знаходиться хата, де пройшли дитячі та юнацькі роки майбутнього письменника, стара дідівська клуня, садок та частина городу, що був у власності родини Стельмахів. Завітавши в цю оселю, кожен може не лише побачити, а й відчути той дивний дух минувшини, серед якого зростав малий Михайлик, який наповнював його душу і серце… Скриня його матері, Ганни Іванівни, добротна дубова лава, змайстрована батьком Панасом Дем’яновичем, столітні рушники та сорочки, помережані та вишиті мальовничими візерунками, охайно вибілені стіни з образами, давні книжечки, що читались-зачитувались до дір… А трохи далі – кухонні причандалля: горщики, макітри, глечики і жбани, полумиски, пікна діжка, в’язочки сушених трав та, знову ж таки, самотужки виткані доріжки, любовно вишиті рушники. Здається, господарі цієї затишної оселі ненадовго вийшли у справах і скоро повернуться, аби зайнятись буденним хатнім «ділечком»… А над хатою височіє блакитне небо з відблисками сонячного сяйва. І варто лише прислухатись, аби почути таємничі звуки далеких срібних дзвонів, що колись полонили душу маленького сіроокого хлопчика…</p>
        <p>Доброю традицією ось уже близько 20-ти років є відзначення літературно-мистецького свята «Велика рідня», приуроченого святкуванню іменин шанованого земляка. Виступи сучасних українських письменників, краєзнавців, виставки робіт майстрів декоративно-прикладного мистецтва, яскраві, самобутні концерти аматорських колективів створюють незабутню атмосферу цього дійства. Працівники музею гостинно запрошують всіх шанувальників таланту митця відвідати Літературно-меморіальний музей Михайла Стельмаха, побувати на святі вшанування пам’яті письменника-земляка, що згуртовує на його батьківщині усіх людей, залюблених в історію та культуру рідного краю.  </p>
    </div>
</article>
