@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.Partial("Slider")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Історія музею</h2>
        <p>
            Розпочався життєвий шлях Михайла Стельмаха із старовинного села Дяковець, що на Поділлі.
            Саме цей куточок мальовничої Літинщини назавжди лишався у серці письменника, до нього тягнувся
            душею та думами, натхненно оспівував у своїх книгах.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("HistoryMuseum", "Home")">Читати далі&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Про нас</h2>
        <p>
            Музей відкрито 24 травня 1989 р. на батьківщині відомого українського письменника
            Михайла Панасовича Стельмаха (1912-1983) в спеціально побудованому приміщенні.
            До квітня 1991 р. музей діяв на громадських засадах, а згодом
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">Читати далі&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Благодійна акція</h2>
        <p>
            Ще з давніх-давен заповідали нам наші пращури: «Пам’ятаймо тую славу…» А слава та, як зорі
            на небі: не лічені й не пізнані, а коли за хмарами – то й не видно… А очі не бачать – серце
            не плаче… Так і у нас тепер!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("CharityEvent", "Home")">Читати далі &raquo;</a></p>
    </div>
</div>