@model dynamic
@{
    ViewBag.Title = "Галерея";
    ViewBag.Message = "ЛІТЕРАТУРНО-МЕМОРІАЛЬНИЙ МУЗЕЙ М. П. СТЕЛЬМАХА";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Message.</h1>
    <h2>@ViewBag.Title.</h2>
</hgroup>
@Styles.Render("~/Content/gallery")
<div class="containers">

    <div class="gallery">
        <div class="filter">
            <div>
                <span>Посуртувати фото за категорією: </span>
                <a href="#" class="sortLink selected" data-category="all">Усі</a>
                <a href="#" class="sortLink" data-category="city">Експозиції музею</a>
                <a href="#" class="sortLink" data-category="lake">М.П. Стельмах</a>
                <a href="#" class="sortLink" data-category="park">Меморіальна садиба</a>
                <a href="#" class="sortLink" data-category="wired">Події</a>
                <div class="clear_floats"></div>
            </div>
        </div>
        <div class="photos">

            <div class="thumbnail_wrap">
                <a href="~/Content/Images/Gallery/photos/city-1.jpg" class="thumbnaill" data-categories="city" title="City Photo 1 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-1.jpg" alt="City 1">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-2.jpg" class="thumbnaill" data-categories="city" title="City Photo 2 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-2.jpg" alt="City 2">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-3.jpg" class="thumbnaill" data-categories="city" title="City Photo 3 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-3.jpg" alt="City 3">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-4.jpg" class="thumbnaill" data-categories="city" title="City Photo 4 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-4-thumbnail.jpg" alt="City 4">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-5.jpg" class="thumbnaill" data-categories="city" title="City Photo 5 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-5-thumbnail.jpg" alt="City 5">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-6.jpg" class="thumbnaill" data-categories="city" title="City Photo 6 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-6-thumbnail.jpg" alt="City 6">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-7.jpg" class="thumbnaill" data-categories="city" title="City Photo 7 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-7-thumbnail.jpg" alt="City 7">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-8.jpg" class="thumbnaill" data-categories="city" title="City Photo 8 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-8-thumbnail.jpg" alt="City 8">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-9.jpg" class="thumbnaill" data-categories="city" title="City Photo 9 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-9-thumbnail.jpg" alt="City 9">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-10.jpg" class="thumbnaill" data-categories="city" title="City Photo 10 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-10-thumbnail.jpg" alt="City 10">
                </a>
                <a href="~/Content/Images/Gallery/photos/city-11.jpg" class="thumbnaill" data-categories="city" title="City Photo 11 Caption">
                    <img src="~/Content/Images/Gallery/photos/city-11-thumbnail.jpg" alt="City 11">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-1.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 1 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-1-thumbnail.jpg" alt="Lake 1">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-2.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 2 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-2-thumbnail.jpg" alt="Lake 2">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-3.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 3 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-3-thumbnail.jpg" alt="Lake 3">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-4.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 4 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-4-thumbnail.jpg" alt="Lake 4">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-5.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 5 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-5-thumbnail.jpg" alt="Lake 5">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-6.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 6 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-6-thumbnail.jpg" alt="Lake 6">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-7.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 7 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-7-thumbnail.jpg" alt="Lake 7">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-8.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 8 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-8-thumbnail.jpg" alt="Lake 8">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-9.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 9 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-9-thumbnail.jpg" alt="Lake 9">
                </a>
                <a href="~/Content/Images/Gallery/photos/lake-10.jpg" class="thumbnaill" data-categories="lake" title="Lake Photo 10 Caption">
                    <img src="~/Content/Images/Gallery/photos/lake-10-thumbnail.jpg" alt="Lake 10">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-1.jpg" class="thumbnaill" data-categories="park" title="Park Photo 1 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-1-thumbnail.jpg" alt="Park 1">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-2.jpg" class="thumbnaill" data-categories="park" title="Park Photo 2 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-2-thumbnail.jpg" alt="Park 2">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-3.jpg" class="thumbnaill" data-categories="park" title="Park Photo 3 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-3-thumbnail.jpg" alt="Park 3">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-4.jpg" class="thumbnaill" data-categories="park" title="Park Photo 4 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-4-thumbnail.jpg" alt="Park 4">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-5.jpg" class="thumbnaill" data-categories="park" title="Park Photo 5 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-5-thumbnail.jpg" alt="Park 5">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-6.jpg" class="thumbnaill" data-categories="park" title="Park Photo 6 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-6-thumbnail.jpg" alt="Park 6">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-7.jpg" class="thumbnaill" data-categories="park" title="Park Photo 7 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-7-thumbnail.jpg" alt="Park 7">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-8.jpg" class="thumbnaill" data-categories="park" title="Park Photo 8 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-8-thumbnail.jpg" alt="Park 8">
                </a>
                <a href="~/Content/Images/Gallery/photos/park-9.jpg" class="thumbnaill" data-categories="park" title="Park Photo 9 Caption">
                    <img src="~/Content/Images/Gallery/photos/park-9-thumbnail.jpg" alt="Park 9">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-1.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 1 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-1-thumbnail.jpg" alt="Wired 1">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-2.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 2 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-2-thumbnail.jpg" alt="Wired 2">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-3.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 3 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-3-thumbnail.jpg" alt="Wired 3">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-4.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 4 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-4-thumbnail.jpg" alt="Wired 4">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-5.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 5 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-5-thumbnail.jpg" alt="Wired 5">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-6.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 6 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-6-thumbnail.jpg" alt="Wired 6">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-7.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 7 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-7-thumbnail.jpg" alt="Wired 7">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-8.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 8 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-8-thumbnail.jpg" alt="Wired 8">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-9.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 9 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-9-thumbnail.jpg" alt="Wired 9">
                </a>
                <a href="~/Content/Images/Gallery/photos/wired-10.jpg" class="thumbnaill" data-categories="wired" title="Wired Photo 10 Caption">
                    <img src="~/Content/Images/Gallery/photos/wired-10-thumbnail.jpg" alt="Wired 10">
                </a>

            </div><!-- .thumbnail_wrap end -->
        </div><!-- .photos end -->
    </div><!-- .gallery end -->
</div><!-- .conteriners end -->
@Scripts.Render("~/bundles/gallery")
